/*
 * author: Ethan Lebowitz
 */
 
rating, .rating, .upt__info__ratings, body good, bad, .rating-history, .rank, .puzzle__side__user__rating {
	visibility: hidden;
}

body.ratingsShown rating, body.ratingsShown .rating, body.ratingsShown .upt__info__ratings, body.ratingsShown good, body.ratingsShown bad, body.ratingsShown .rating-history, body.ratingsShown .rank, body.ratingsShown .puzzle__side__user__rating {
	visibility: visible;
}

.user-link, .player, .infos.puzzle, .puzzle__session, .community__online, .leaderboards, .champion {
	visibility: hidden;
}

body.dynamicContentShown .user-link, body.dynamicContentShown .player, body.dynamicContentShown .infos.puzzle, body.dynamicContentShown .puzzle__session, body.dynamicContentShown .community__online, body.dynamicContentShown .leaderboards, body.dynamicContentShown .champion {
	visibility: visible;
}

